---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>

    <div class="post-tweet">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="XwaldRob" data-count="none">Tweet</a>
    </div>


    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
